.bio {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
}

.profilePicture {
  flex: 1 30%;
}

.aboutText {
  flex: 1 70%;
}

.profilePicture span {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat, no-repeat;
  -moz-box-shadow: inset 0 0 20px #636161;
  -webkit-box-shadow: inset 0 0 20px #636161;
  box-shadow: inset 0 0 20px #636161;
}

p {
  font-size: 1.6rem;
  text-align: justify;
}
